@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
  height: 100vh;
  font-family: 'Montserrat';
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header{
  height: 720px;
  padding-top: 40px;
  background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
  margin-bottom: 45px;
}

.header__bg{
  background-image: url('../img/gus.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 2;
  height: 100%;
}

.header__logo-box{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
}

.header__logo-box p{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #010101;
}

.header__content{
  width: 440px;
  background-color: #fff;
  padding: 63px 77px 57px 56px;
  border-radius: 16px;
  transition: all .5s;
}

.header__content:hover{
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.1);
}

.header__subtitle{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
  margin-bottom: 16px;
}

.header__accent{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FF6B0A;
  margin-bottom: 48px;
}

.header__title{
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: #1B1D1F;
  margin-bottom: 24px;
}

.header__text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
  margin-bottom: 48px;
}

.header__button{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #FF6B0A;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

.facts{
  text-align: center;
  padding-bottom: 48px;
}

.trident{
  margin-bottom: 23px;
}

.facts__title{
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1B1D1F;
}

.facts__text{
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 875px;
  margin: 0 auto;
  color: #1B1D1F;
}

.facts__items{
  display: flex;
  justify-content: space-between;
}

.facts__item-title{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1B1D1F;
  margin-bottom: 32px;
  text-align: left;
  margin-left: 47px;
}

.facts__item-text{
  max-width: 280px;
  text-align: left;
  margin: 0 auto;
}

.footer{
  background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
}

.footer__wrapper{
  padding: 72px 148px;
  text-align: center;
}

.footer__title{
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  color: #1B1D1F;
  margin-bottom: 16px;
}

.footer__text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1D1F;
  max-width: 875px;
  margin: 0 auto;
}

.modal__window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27 29 31 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
}

.modal__form-container{
  padding: 32px 92px 60px 92px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form img{
  margin-bottom: 32px;
}

.modal__form-title{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin-bottom: 12px;
}

.modal__form-descr{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 24px;
}

.modal__form-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal__field-name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 4px;
}

.modal__field-input{
  border: 1px solid #1B1D1F;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
}

.modal__button{
  margin-top: 24px;
}

.close-btn{
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
  border: none;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn img{
  margin-bottom: 0;
}

.modal__end-text{
  margin-bottom: 0;
}

.modal-active{
  opacity: 1;
  pointer-events: all;
}